@charset "utf-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");
 /* reset(초기화) */
      /* 눈누 나눔바른고딕 검색:네이버선택 */
      @font-face {
        font-family: "NanumBarunGothic";
        src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
        font-weight: 400;
        font-display: swap;
      }
      @font-face {
        font-family: "NanumBarunGothic";
        src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
        font-weight: 700;
        font-display: swap;
      }
      @font-face {
        font-family: "NanumBarunGothic";
        src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
        font-weight: 300;
        font-display: swap;
      }
      * {
        box-sizing: border-box;
      }
      body,
      h1,
      ul {
        margin: 0;
        padding: 0;
      }
      ul {
        list-style: none;
      }
      body {
          /* https://sitero.co.kr/fontsize :단위변환 사이트 */
        font: 0.9375rem/1.6 "NanumBarunGothic", sans-serif;
        background: #111;
      }
      a {
        text-decoration: none;
        color:#fff;
      }
      img {
        vertical-align: middle;/* top->middle 헤더아이콘 상하 정렬(bottom,top등으로 조정) */
        width: 100%;
        height: 100%;
        object-fit: cover;
      }